In [1]:
import pandas as pd

In [9]:
df = pd.read_excel('https://www.eia.gov/electricity/sales_revenue_price/xls/table5_a.xlsx', skiprows=2).set_index('State')

In [29]:
df.head()

,Number of Customers,Average Monthly Consumption (kWh),Average Price (cents/kWh),Average Monthly Bill (Dollar and cents)
State,,,,
New England,6377606,628.49175,20.603400,129.490670
Connecticut,1503701,723.84581,21.200764,153.460840
Maine,709848,571.95355,16.842433,96.330893
Massachusetts,2784243,607.12714,21.609659,131.198110
New Hampshire,622671,621.11626,19.685635,122.270680

In [15]:
z = df['Average Monthly Consumption (kWh)'].sort_values(ascending=False)
z.head(7)

State
Tennessee             1282.8674
Louisiana             1281.5624
Mississippi           1247.1784
East South Central    1237.4873
Alabama               1236.4804
West South Central    1183.3921
Texas                 1175.5237
Name: Average Monthly Consumption (kWh), dtype: float64

In [17]:
z.tail(7)

State
Rhode Island             589.01445
Alaska                   572.38476
Maine                    571.95355
Vermont                  559.55513
California               546.31121
Pacific Noncontiguous    539.47405
Hawaii                   517.78387
Name: Average Monthly Consumption (kWh), dtype: float64

In [20]:
df_ng = pd.read_excel('https://www.eia.gov/dnav/ng/xls/NG_CONS_PNS_A_EPG0_VRP_PCT_A.xls', sheet_name='Data 1', skiprows=2).set_index('Date')

In [27]:
df_ng.rename(columns={c: c.replace('Natural Gas % of Total Residential Deliveries (%)', '') for c in df_ng.columns}).loc['2018-06-30']

U.S.                     100.00
Alabama                    0.70
Alaska                     0.37
Arizona                    0.70
Arkansas                   0.70
California                 8.48
Colorado                   2.57
Connecticut                1.06
Delaware                   0.24
District of Columbia       0.26
Florida                    0.34
Georgia                    2.66
Hawaii                     0.01
Idaho                      0.55
Illinois                   8.77
Indiana                    2.89
Iowa                       1.42
Kansas                     1.34
Kentucky                   1.03
Louisiana                  0.76
Maine                      0.06
Maryland                   1.73
Massachusetts              2.61
Michigan                   6.54
Minnesota                  2.83
Mississippi                0.49
Missouri                   2.28
Montana                    0.45
Nebraska                   0.85
Nevada                     0.84
New Hampshire              0.16
New Jersey                 4.96
New Mexico                 0.69
New York                   9.72
North Carolina             1.47
North Dakota               0.25
Ohio                       6.03
Oklahoma                   1.35
Oregon                     0.85
Pennsylvania               5.06
Rhode Island               0.41
South Carolina             0.62
South Dakota               0.29
Tennessee                  1.49
Texas                      4.54
Utah                       1.35
Vermont                    0.08
Virginia                   1.78
Washington                 1.67
West Virginia              0.53
Wisconsin                  2.89
Wyoming                    0.26
Name: 2018-06-30 00:00:00, dtype: float64